// nextflow.config

// File Paths
// NOTE:
// IF using docker, keep the /mnt/ path for proper function
params {
    outdir = '/mnt/processed_results' // Output directory
    reference_base_dir = "${baseDir}/pipeline_assets/rpoB_ref.fasta" //name of reference fasta
    base_dir = '/mnt' //base directory of reads
    samplesheet = "/mnt/tbSeq05_sample_sheet.csv" //file name of sample sheet
}

// Quality and Length Filtering
params {
    minlength = 10 // min length filter
    maxlength = 500 // max length filter
    min_quality_filter = 30 // min qual filter >=
    max_quality_filter = 40
}

params {
    alignment_type = 'bowtie2'  // minimap2 or bowtie2
    alignment_settings = [
        minimap2: [ k: 7, w: 3 ],
        bowtie2: [  ]
    ]
}

// Default process settings
process {
    executor = 'local' // Use the local executor
    memory = { "${(Runtime.runtime.maxMemory() / (1024 * 1024)).intValue()} MB" } // Use available memory
    cpus = { Runtime.runtime.availableProcessors() }          // Default number of CPUs
}



