// nextflow.config

// Default parameters section
// NOTE:
// IF using docker, keep the /mnt/ path for proper function
params {
    outdir = '/mnt/processed_results' // Output directory
    reference = "/pipeline_assets/reference_avatar3.fasta" //name of reference fasta
    base_dir = '/mnt/' //base directory of reads
    samplesheet = '/mnt/pipeline_assets/sample_sheet.csv' //file name of sample sheet
    minlength = 100 // min length filter
    maxlength = 250 // max length filter
    quality_filter = 30 // min qual filter >=
    k = 7 // kmer size (for minimap2)
    w = 3 // window size ()
}

// Default process settings
process {
    executor = 'local' // Use the local executor
    memory = { "${(Runtime.runtime.maxMemory() / (1024 * 1024)).intValue()} MB" } // Use available memory
    cpus = { Runtime.runtime.availableProcessors() }          // Default number of CPUs
}
